.displayList li{
    list-style-type: none;
    /*background-color: #25d366;*/
    margin:10px;
    /*line-height: 70px;*/
    border:2px solid #128c7e;
    border-radius: 5px;
    min-width:400px;
}

.displayList ul{
    padding: 5px 20%;
}

.displayList .add{
    background-color: white;
    font-size:25px;
    padding:10px;
    margin:10px 0 0 10px;
    border-radius: 5px;
    border:5px solid #25d366;
}

.displayList p{
    display:inline;
    font-size: 30px;
    margin-right:20px;
}

.wrapper{
    padding:20px;

}

.wrapper .fa{
    color: #073d34;
    float:right;
    font-size:50px;
    margin-left:15px;
}

.wrapper .fa-trash:hover{
    color: #b30000;
}

.wrapper .fa{
    display:none;
    /*margin-left:40px;*/
}

.wrapper:hover .fa{
    display:inline-block;
}

.displayList img{
    height:45px;
    border-radius: 50%;
}




.listBtn{
    background:#1AAB8A;
    color:#fff;
    border:none;
    position:relative;
    height:50px;
    font-size:1.6em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    float:right;
}
.listBtn:hover{
    background:#fff;
    color:#1AAB8A;
}
.listBtn:before,.listBtn:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #1AAB8A;
    transition:400ms ease all;
}
.listBtn:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
}
.listBtn:hover:before,.listBtn:hover:after{
    width:100%;
    transition:800ms ease all;
}

