/*App css*/
html, body, .App {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family:Arial;
}

.window{
    display: flex;
    flex-direction: column;
    border-left: 1px solid black;
    background-image: url("pic/bg.png");
    box-sizing: border-box;
    flex: 1;
}

.App {
    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
    flex: 1;
    flex-direction: row;
    box-sizing: border-box;
}

.header{
    background-color: #075e54;
    color:white;
    font-size: 25px;
    width:100%;
    box-sizing: border-box;
    padding:10px;
    display:inline-block;
}

#logIn{
    color:white;
}

div#logIn{
    float:right;
    margin-right:10px;
    padding-left:10px;
}

div.navElement{
    float:left;
    color:white;
}

.fa-user-plus{
    color:white;
}

.hidden{
    display:none;
}


h1{
    padding:10px;
}


/*width*/
div::-webkit-scrollbar {
    width: 10px;
}

/* Track */
div::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
div::-webkit-scrollbar-thumb {
    background: #888;

}

/* Handle on hover */
div::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}









.fa-user-plus{
    /*color:black;*/
    float:right;
    padding-left:20px;
    border-left: 1px solid white;
}



.dropbtn {
    /*background-color: #3498DB;*/
    color: white;
    /*padding: 16px;*/
    /*font-size: 16px;*/
    border: none;
    cursor: pointer;
}

/*.dropbtn:hover, .dropbtn:focus {*/
    /*background-color: #128c7e;*/
/*}*/

.dropdown {
    position: relative;
    display: inline-block;
    margin-right:10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width:250px;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}